@import "../../../styles/common.scss";

.locations {
  color: #fff;
  margin-top: 60px;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  z-index: 10;

  &__title {
    padding: 8px 24px;
  }

  &__items {
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    padding: 8px 24px;

    &:first-child {
      margin-left: 64px;
    }

    &:hover {
      color: #fff;
      background: $black;
      border-radius: 4px;
    }
  }
}
